# Ignorar arquivos
tags
*.nfs
*.swap
*.aux
*.log
*.blg
*.dvi
*.ps
*.lot
*.lof
*.bbl
*.pdf
*.toc
*.tof
*.bak
abstract.tex
agradecimentos.tex
anexo.tex
cap3.tex
dedicatoria.tex
epigrafe.tex
ferramentas.tex
folhaaprovacao.tex
introducao.tex
resumo.tex
