# Ignorar arquivos
tags
*.nfs
*.swap
*.aux
*.log
*.blg
*.dvi
*.ps
*.pdf
*.toc
*.tof
*.bak
folhaaprovacao.tex
dedicatoria.tex
agradecimentos.tex
epigrafe.tex
resumo.tex
abstract.tex
cap2.tex
cap3.tex
anexo.tex
ferramentas.tex
